<h1>Trả lời câu hỏi.</h1>
<div class="question-view">
    {{#if question}}
        <div><h3>{{question.questionContent}} ?</h3></div>
        <div>Total vote: {{totalVote}}</div>
        <div>Vote yes: {{question.yes}}</div>
        <div>Vote no: {{question.no}}</div>

        <div class="answers">
            <form action="{{question.questionId}}/api/answer/yes" method="POST">
                <input type="submit" value="yes">
            </form>
            <form action="{{question.questionId}}/api/answer/no" method="POST">
                <input type="submit" value="no">
            </form>
        </div>
        
    {{else}} <div>Ooops! Unable to show your question.</div>
    {{/if}}
</div>